Acesse a pasta C:\Users\usuario\OneDrive\Nova pasta\OneDrive\
Selecione a opção "Open git bash her"
git init
git add .
git commit -m "..."
git branch -M main
git remote add origin https://github.com/Leandrosganioni/Aulas-Linguagem-de-Programa-o.git
git push -u origin main